DATABASE_URL="postgresql://user:password@localhost:5432/vyanjo_db?schema=public"
# Firebase Admin SDK credentials
FIREBASE_PROJECT_ID="your-project-id"
FIREBASE_PRIVATE_KEY="your-private-key"
FIREBASE_CLIENT_EMAIL="your-client-email"

# Cloudinary Credentials (Required for Payment Screenshots & QR Codes)
CLOUDINARY_CLOUD_NAME="deehm88vn"
CLOUDINARY_API_KEY="145924351453641"
CLOUDINARY_API_SECRET="huUF9uLU91Y8WsLx6XXyRsmbgGQ"
